@import "tailwindcss";



body {
  background-color: #0f1624;
  font-family: "Poppins", sans-serif;
  color:white
}
.input {
  @apply w-full border border-gray-300 p-2 rounded;
}

@layer utilities {
  .text-my1-gradient {
    background-image: linear-gradient(90deg, #945dd6, #6978d1, #13adc7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
.gradent-background {
}
.card-gradient::before,
.card-gradient::after {
  content: "";
  position: absolute;
}

.card-gradient::before {
  height: 651px;
  width: 451px;
  /* background: linear-gradient(360deg, #13adc7, #6978d1, #945dd6); */
  background:red;

  z-index: -10;
  border-radius: 12px;
}
@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.card-gradient:hover::before {
  opacity: 1;
}
.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}


/* style={{
  boxShadow: "0 0 0 1px transparent", // Transparent border placeholder
  background:
    "linear-gradient(360deg, #13ADC7, #6978D1, #945DD6) border-box", // Gradient for the border
  WebkitMask:
    "linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)", // Mask to isolate gradient to border
  WebkitMaskComposite: "xor", // Combine masks to exclude inner area
  maskComposite: "exclude", // Standard property for masking
  border: "1px solid transparent", // Transparent border to hold the gradient
}} */
